<p id="notice"><%= notice %></p>

<p><button><%= link_to t('.edit'), edit_team_path(@team) %></button> |
<button><%= link_to t('.back'), teams_path %></button> | <button><%=link_to'Add Player', new_player_path(team_id: @team)%></button>
</p>
<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @team.city %>
</p>

<p>
  <strong>Est year:</strong>
  <%= @team.est_year %>
</p>

<p>
  <strong>Championships won:</strong>
  <%= @team.championships_won %>
</p>
