<p id="notice"><%= notice %></p>

<h1>Fixtures</h1>

<table>
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Score home</th>
      <th>Score away</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixtures.each do |fixture| %>
      <tr>
        <td><%= fixture.home %></td>
        <td><%= fixture.away %></td>
        <td><%= fixture.score_home %></td>
        <td><%= fixture.score_away %></td>
        <td><%= link_to 'Show', fixture %></td>
        <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
        <td><%= link_to 'Destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixture', new_fixture_path %>
