<div class="information">

  <p id="notice"><%= notice %></p>

  <p>
    <button><%= link_to t('.edit'), edit_fixture_path(@fixture) %></button> |
    <button><%= link_to t('.back'), fixtures_path %></button>
  </p>

<!-- This code bit is responsible for finding the appropriate team for the ids -->

  <p><strong><%= t('.home')%></strong></p>
        <% @teams = Team.all %>
        <% @teams.each do |team| %>
          <% if @fixture.home_team_id == team.id %>
            <p><%= team.name %></p>
          <% end %>
        <% end %>
        <p><strong><%= t('.away')%></strong></p>
        <% @teams.each do |team| %>
          <% if @fixture.away_team_id == team.id %>
            <p><%= team.name %></p>
          <% end %>
        <% end %>
        
<!-- The above code bit is responsible for finding the appropriate team for the ids -->

  <p>
    <strong><%= t('.away')%></strong>
    <%= @fixture.away_team_id %>
  </p>

  <p>
    <strong><%= t('.hscore')%></strong>
    <%= @fixture.home_score %>
  </p>

  <p>
    <strong><%= t('.ascore')%></strong>
    <%= @fixture.away_score %>
  </p>

</div>
