<p id="notice"><%= notice %></p>

<p>
  <strong>Home team:</strong>
  <%= @fixture.home_team_id %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @fixture.away_team_id %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @fixture.home_score %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @fixture.away_score %>
</p>

<%= link_to 'Edit', edit_fixture_path(@fixture) %> |
<%= link_to 'Back', fixtures_path %>
