<table id="navbar">
  <tr>
    <td id="navcolumn"><%= link_to t('.home'), root_path %></td>
    <td id="navcolumn"><%= link_to t('.standings'), home_standings_path %></td>
    <td id="navcolumn"><%= link_to t('.fixtures'), fixtures_path %></td>
    <td id="navcolumn"><%= link_to t('.teams'), teams_path %></td>
    <td id="navcolumn"><%= link_to t('.contact'), home_contact_path %></td>
  </tr>
</table>
