<h1><%=t('.welcome')%></h1>
<p><%=t('.information')%></p>
<table id='jQueryNav'>
  <tr id="resources">
    <td><%=t('.real')%></td>
  </tr>
</table>
<p id='resourcesText'><%= t('.credit') %><%= link_to t('.mrksz'), 'http://www.mrksz.hu/index.php/hu/bajnoksag' %></p>
<table id='jQueryNav'>
  <tr id="resources">
    <td><%=t('.me')%></td>
  </tr>
</table>
<p id='resourcesText'><%= t('.programmer') %></p>
