<h1><%=t('.welcome')%></h1>
<p><%=t('.information')%></p>
<table id='jQueryNav'>
  <tr id="resources">
    <td><%=t('.real')%></td>
  </tr>
</table>
<p id='resourcesText'><%= t('.credit') %><%= link_to t('.mrksz'), 'http://www.mrksz.hu/index.php/hu/bajnoksag' %></p>
<table id='jQueryNav'>
  <tr id="programmer">
    <td><%=t('.me')%></td>
  </tr>
</table>
<p id='programmerText'><%= t('.programmer') %></p>
<table id='jQueryNav'>
  <tr id="GitHub">
    <td><%=t('.git')%></td>
  </tr>
</table>
<p id='GitHubText'><%= t('.github') %><br><div id='linktocenter'>
<%= link_to t('.gitproject'), 'https://github.com/Tados99/coursework.git' %>
</div></p>
