<!-- This is the template for the contact e-mail that is getting sent when the contact form is being submitted -->
<p><%= t('.dear') %></p>

<p><%= t('.email') %></p>

<dd>Name: <%= @name %></dd>
<dd>E-mail: <%= @email %></dd>

<p><%= @message %></p>

<p><%= t('.thanks') %></p>

<p><%= @name %></p>
