<p><%= "Dear Hungarian League I team," %></p>

<p><%= "You have a message from the League website:" %></p>

<dd>Name: <%= @name %></dd>
<dd>E-mail: <%= @email %></dd>

<p><%= @message %></p>

<p>Thanks,</p>

<p><%= @name %></p>
